*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: sticky;
    top: 0px;
}
header img{
    width: 65px;
    height: 65px;
    padding: 6px 12px;
    margin: 0 34px;
}
header::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    font-size: 1.5rem;
    padding: 24px 12px;

}
.navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 24px;
   
}


#home{
    display: flex;
    flex-direction: column;
    height: 360px;
    padding: 0px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('./backimg.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 455px;
    width: 100%;
    z-index: -1;
    opacity: 0.88;
}

#home h1{
    font-size: 2.5rem;
    color: white;
    padding: 8px;
    
}
#home p{
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.btn {
    color: white;
    border: 1px solid white;
    background-color: #8fc59566;
                        /* #eac9cd80 */
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 12px;
    cursor: pointer;

}
.btn:hover{
    color: rgb(245, 244, 244);
    background-color:#73d47e66 ;
                        /* #efb0b082 ; */
}
.btn:active{
    background-color:#7ef08c85 ;
                     /* #f37c7c91 */
}

/* ------------------------------------------------------------------------------ */

#services{
    margin: 12px;
    display: flex;
    /* flex-direction: column; */
}
#services img{
    width: 180px;
    display: block;
    margin: auto;
}
.service-box{
    border: 2px solid #829bee;
    border-radius: 8px;
    background-color: #d0e7f1e6;
    padding: 6px 8px;
    margin: 12px;
}

.primary{
    font-size: 3rem;
    padding: 12px;
    text-align: center;
}
.secondary {
    font-size: 2.2rem;
    padding: 12px;
    text-align: center;
}
.service-cont{
    padding: 10px 12px;
    text-align: center;
    font-size: 1.1rem;
}

#client-section{

    height: 230px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    width: 98px;
    padding: 4px 32px
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('./bg.jpg') no-repeat center;
    height: 230px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact{
    /* position: relative; */
    font-size: 1.2rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}
.form-contact{
    padding: 12px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 1.03rem;
    font-size: 1.2rem;
}
#contact-box form{
    width: 40%;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('./bg2.jpg') no-repeat center;
    height: 740px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}


footer {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding:4px 12px;
}